<div class="content">
  <div class="hero">

    <div class="welcome">
      <h1> WELCOME TO THE GATEWAY</h1>
      <br>
      <a routerLink="register"><button>GET STARTED</button> </a>
    </div>

    <div class="one">
      <h1>The Gateway is not just an online question and answer platform,
        it is a community.</h1>
    </div>

  </div>

  <div class="about">
    <!-- <div class="image">
      <img src="https://images.unsplash.com/photo-1428223501723-d821c5d00ca3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" alt="">
    </div> -->
    <div class="info">
      <p>Join the community and get help with your <br>
        development questions from other developers worldwide.</p>
    </div>
  </div>

  <div class="onebg">

    <div class="use">

      <div class="howto">
        <h2>MAKE USE OF THE GATEWAY</h2>
      </div>
      <br>

      <div class="instructions">

        <!-- <div class="first"> -->
        <div class="cards">
          <i class="fa-solid fa-circle-question"></i>
          <h3>POST QUESTIONS</h3>
        </div>

        <div class="cards">
          <i class="fa-solid fa-message"></i>
          <h3>ANSWER QUESTIONS</h3>
        </div>
        <!-- </div> -->

        <!-- <div class="second"> -->

        <div class="cards">
          <i class="fa-solid fa-comments"></i>
          <h3>COMMENT ON ANSWERS</h3>
        </div>

        <div class="cards">
          <i class="fa-solid fa-arrow-up"></i>
          <h3>VOTE ON ANSWERS</h3>
        </div>
        <!-- </div> -->

      </div>
    </div>
  </div>

  <br>
  <div class="stats">

    <div class="card1">
      <i class="fa-solid fa-users"></i>
      <h3> 20,000+ <br> USERS </h3>
    </div>

    <div class="card2">
      <i class="fa-solid fa-clipboard-question"></i>
      <h3> 45,000+ QUESTIONS </h3>
    </div>

    <div class="card3">
      <i class="fa-solid fa-message"></i>
      <h3> 160,000+ ANSWERS </h3>
    </div>
  </div>



</div>