<br>
<div class="content">

    <div class="sidebar">
        <h3> John Doe </h3>
        <h3> johndoe@gmail.com </h3>
        <h3> 20 QUESTIONS </h3>
        <h3> 70 ANSWERS </h3>
        <a routerLink="">LOGOUT</a>
    </div>

    <div class="display">
        <div class="links">
            <a routerLink="/profile">All QUESTIONS</a>
            <a routerLink="mostanswered">MOST ANSWERED</a>
            <a routerLink="mostrecent">MOST RECENT</a>
        </div>

        <div class="info">
            <router-outlet></router-outlet>
        </div>

    </div>

</div>