<table>
    <th>UserId</th>
    <th>UserName</th>
    <th>Email</th>
    <th>Delete</th>

    <tr  *ngFor="let one of users$ |async">
      <td>{{one.Id}}</td>
      <td>{{one.UserName}}</td>
      <td>{{one.Email}}</td>
      <td class="td-btn"><button (click)="DeleteUser(one.Id)"><i class="fa-solid fa-trash"></i></button></td>
    </tr> 

    <!-- <tr>
        <td>#WIERTS878</td>
        <td>Jane</td>
        <td>janedoe@gmail.com</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr>

      <tr>
        <td>#WIERTS878</td>
        <td>Jane</td>
        <td>janedoe@gmail.com</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr>

      <tr>
        <td>#WIERTS878</td>
        <td>Jane</td>
        <td>janedoe@gmail.com</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr> -->

    </table>