<table>
    <th>User_Id</th>
    <th>UserName</th>
    <th>Email</th>
    <th> Delete</th>

    <tr>
      <td>#WIERTS878</td>
      <td>Jane</td>
      <td>janedoe@gmail.com</td>
      <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
    </tr>

    <tr>
        <td>#WIERTS878</td>
        <td>Jane</td>
        <td>janedoe@gmail.com</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr>

      <tr>
        <td>#WIERTS878</td>
        <td>Jane</td>
        <td>janedoe@gmail.com</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr>

      <tr>
        <td>#WIERTS878</td>
        <td>Jane</td>
        <td>janedoe@gmail.com</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr>
  </table>