<div class="content">
    <div class="one">
        <div class="title">
            <h3>Error print user.default swift 3</h3>
        </div>
        <div class="description">
            <p>I have two screens the first of login and the second shows the user information. On the login screen I
                keep the user_id value in user.defaults and when I go to the second screen I use that value to ...</p>
        </div>
        <div class="metadata">
            <div class="answer"> 10 answers</div>
            <div class="time">
                <div class="user"> <h4> Jane Doe </h4></div>
                <div class="answer"> Updated on 21/02/2023</div>
            </div>
        </div>
    </div>

    <div class="one">
        <div class="title">
            <h3>Error print user.default swift 3</h3>
        </div>
        <div class="description">
            <p>I have two screens the first of login and the second shows the user information. On the login screen I
                keep the user_id value in user.defaults and when I go to the second screen I use that value to ...</p>
        </div>
        <div class="metadata">
            <div class="answer"> 10 answers</div>
            <div class="time">
                <div class="user"> <h4> Jane Doe </h4></div>
                <div class="answer"> Updated on 21/02/2023</div>
            </div>
        </div>
    </div>


    <div class="one">
        <div class="title">
            <h3>Error print user.default swift 3</h3>
        </div>
        <div class="description">
            <p>I have two screens the first of login and the second shows the user information. On the login screen I
                keep the user_id value in user.defaults and when I go to the second screen I use that value to ...</p>
        </div>
        <div class="metadata">
            <div class="answer"> 10 answers</div>
            <div class="time">
                <div class="user"> <h4> Jane Doe </h4></div>
                <div class="answer"> Updated on 21/02/2023</div>
            </div>
        </div>
    </div>

</div>