<br>
<div id="sign">

    <!-- <div id="theform">  -->
        <form action=""> 
            <h3> LOGIN HERE:</h3>
            <input type="email" name="" id="" placeholder="Email Address">
            <input type="password" name="" id="" placeholder="Password"> 
            <!-- <button (click)="userService.login()">Login</button> -->
            <!-- <button class="signin" (click)="userService.login()">Sign In</button> -->
        </form>
        <button class="signin" (click)="userService.login()">Sign In</button>
    <!-- </div> -->

    <div id="buttns">
        <a href="">Forgot your Password?</a>
        <a routerLink="/register">Create Account</a>
    </div>

</div>
<router-outlet></router-outlet>
