<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    
    * {
        margin: 0px;
    }

    .content {
        width: 100%;
        margin: auto;
        display: flex;
    }

    .info {
        display: flex;
        flex-direction: column
    }

    .heading {
        gap: 20px;
    }
</style>

<body>
    <div class="content">

        <div class="image">
            <img src="https://thumbs.dreamstime.com/b/illustration-calligraphic-inscription-congratulations-vector-element-design-illustration-calligraphic-inscription-149833255.jpg" alt=" No Photo!!">
        </div>

        <div class="info">

            <div class="heading">
                <h4>Hoooraay!</h4>
                <h4>Hello <%=name%> </h4>
            </div>

            <div class="message">
                <p>Congratulations, your answer was marked as the most preffered. 
                    <br> Keep Up!!
                </p>
            </div>

        </div>

    </div>

</body>