<div id="regist">

    <form action="" [formGroup]="form" (ngSubmit)="submitData()">

        <h3>REGISTER ACCOUNT HERE:</h3>
        <div class="group">
            <input type="text" name="" id="" placeholder="UserName" formControlName="UserName">
            <span class="error" *ngIf="!form.get('UserName')?.valid && form.get('UserName')?.touched">
                <br> UserName is needed</span>
        </div>

        <div class="group">
            <input type="email" name="" id="" placeholder="Email Address" formControlName="Email">
            <span class="error" *ngIf="!form.get('Email')?.valid && form.get('Email')?.touched">
                <span class="error" *ngIf="form.get('Email')!.errors!['required']"> <br>
                     Please Input an
                    Email</span>
                <span class="error" *ngIf="form.get('Email')!.errors!['Email']"> <br>
                     Enter a Valid
                    Email</span>
            </span>
        </div>

        <div class="group">
            <input type="password" name="" id="" placeholder="Password" formControlName="Password">
            <span class="error" *ngIf="!form.get('Password')?.valid && form.get('Password')?.touched"> <br> Please
                Enter a Valid Password</span>
        </div>
        <div class="group">
            <input type="password" name="" id="" placeholder="Confirm Password" formControlName="ConfirmPassword">
        </div>

        <button class="regbutton" [disabled]="!form.valid">Register</button>
    </form>


    <div id="buttns">
        <a href="">Return to Home</a>
    </div>
</div>