<div class="question">

    <div class="section-1">

        <div>
            <h3>{{question.Title}}</h3>
        </div>
        <div>
            <h2 *ngIf="!shqQuiz" (click)="ShowQuestion()"> <button>+</button> </h2>
            <h2 *ngIf="shqQuiz" (click)="ShowQuestion()"> <button>-</button> </h2>
        </div>

    </div>

    <div class="shoUp" *ngIf="shqQuiz">

        <div class="info">

            <div class="description">
                <p>{{question.Description}}
                </p>
            </div>

            <div class="metadata">

                <div class="answer">10 Answers</div>
                <div class="user">
                    <h4> Jane Doe </h4>
                </div>
                <div class="time">{{question.createdAt | date}} </div>

            </div>

        </div>


        <div class="answer" *ngIf="shqQuiz">

            <div class="meta">
                <div>
                    <p>Answer</p>
                </div>
                <div>
                    <p>10 votes</p>
                </div>
            </div>

            <div class="theanswer">

                <div class="votes">
                    <div class="upvote"> <i class="fa-solid fa-arrow-up"></i> </div>
                    <div class="number"> 10 </div>
                    <div class="downvote"> <i class="fa-solid fa-arrow-down"></i> </div>
                </div>

                <div class="mainans">
                    <div class="" *ngFor="let answer of answers">
                        <p>{{answer.Description}}</p>
                    </div>
                    <div>
                        <button>Mark as Preferred</button>
                    </div>
                </div>

                <div>
                    <h2 class="answer-minus" *ngIf="!shAnsw" (click)="showAnswer()"> <button>+</button> </h2>
                    <h2 class="answer-minus" *ngIf="shAnsw" (click)="showAnswer()"> <button>-</button> </h2>
                </div>

            </div>

        </div>

        <div class="comment" *ngIf="shAnsw">
            <div class="head">
                <p>Comment</p>
            </div>

            <div *ngFor="let comment of comments">
                <p> {{comment.Description}}</p>
            </div>

        </div>

        <button (click)="Update()">UPDATE</button>
        <button (click)="Delete()">DELETE</button>

    </div>