
<div class="question">

    <div class="section-1">
        <!-- <p>{{question?.title}}</p> -->
        <div>
            <p>Error print user.default swift 3</p>
        </div>
        <div>
            <h2 *ngIf="!shqQuiz" (click)="ShowQuestion()"> <button>+</button> </h2>
            <h2 *ngIf="shqQuiz" (click)="ShowQuestion()"> <button>-</button> </h2>
        </div>

    </div>

    <div class="shoUp" *ngIf="shqQuiz">
    
        <div class="info">

            <div class="description">
                <p>I have two screens the first of login and the second shows the user information. On the login
                    screen
                    I keep the user_id value in user.defaults and when I go to the second screen I use that
                    value
                    to..
                </p>
            </div>

            <!-- <div class="metadata">

                        <div class="answer"> 10 answers</div>
    
                        <div class="time">
                            <div class="user"> Jane Doe</div>
                            <div class="answer"> Updated on 13/03/2023 </div>
                        </div>
                    </div> -->

        </div>



        <div class="answer" *ngIf="shqQuiz">

            <div class="meta">
                <div>
                    <p>Answer</p>
                </div>
                <div>
                    <p>10 votes</p>
                </div>
            </div>

            <div class="theanswer">

                <div class="votes">
                    <div class="upvote"> <i class="fa-solid fa-arrow-up"></i> </div>
                    <div class="number"> 10 </div>
                    <div class="downvote"> <i class="fa-solid fa-arrow-down"></i> </div>
                </div>

                <div>
                    <p>You will have to submit a support request through AWS Contact Us page. Open the I cannot
                        login to
                        my
                        AWS Account and then Lost account information. Hope that helps</p>
                </div>

                <div>
                    <h2 class="answer-minus" *ngIf="!shAnsw" (click)="showAnsw()"> <button>+</button> </h2>
                    <h2 class="answer-minus" *ngIf="shAnsw" (click)="showAnsw()"> <button>-</button> </h2>
                </div>

            </div>

        </div>

        <div class="postanswer" *ngIf="shqQuiz">
            <form>
                <textarea name="" id="" cols="100" rows="10" placeholder="Post your Answer Here"> </textarea>
            </form>
        </div>

        <div class="comment" *ngIf="shAnsw">
            <p>Comment</p>
            <p>
                You will have to submit a support request through AWS Contact Us page. Open the I cannot login
                to my
                AWS Account and then Lost account information. Hope that helps.
            </p>
        </div>

        <div class="postcomment" *ngIf="shAnsw">
            <textarea name="" id="" cols="100" rows="10" placeholder="Add your Comment"> </textarea>
        </div>
       
    </div>

    <button (click)="Update()">UPDATE</button>

</div>
