
<table>
    <th>QuestionId</th>
    <th>Title</th>
    <th>Description</th>
    <th>UserId</th>
    <th>Delete</th>

    <tr *ngFor="let one of questions">
      <td>{{one.Id}}</td>
      <td>{{one.Title}} 3</td>
      <td>{{one.Description}}</td>
      <td>{{one.userId}}</td>
      <td class="td-btn"><button (click)="DeleteQuiz(one.Id)"><i class="fa-solid fa-trash"></i></button></td>
    </tr>

    <!-- <tr>
        <td>#WIERTS878</td>
        <td>Error print user.default swift 3</td>
        <td>I have three screens the first of login and the second shows the user information. On the login screen keep the user_id value in user.defaults and when I go to the second screen I use that value to</td>
        <td>#WIERTS87867809</td>
        <td>30</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr>

      <tr>
        <td>#WIERTS878</td>
        <td>Error print user.default swift 3</td>
        <td>I have three screens the first of login and the second shows the user information. On the login screen keep the user_id value in user.defaults and when I go to the second screen I use that value to</td>
        <td>#WIERTS87867809</td>
        <td>30</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr>


      <tr>
        <td>#WIERTS878</td>
        <td>Error print user.default swift 3</td>
        <td>I have three screens the first of login and the second shows the user information. On the login screen keep the user_id value in user.defaults and when I go to the second screen I use that value to</td>
        <td>#WIERTS87867809</td>
        <td>30</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr> -->

  </table>
