
<table>
    <th>Question_Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>User_Id</th>
    <th>Answers</th>
    <th>Delete</th>

    <tr>
      <td>#WIERTS878</td>
      <td>Error print user.default swift 3</td>
      <td>I have three screens the first of login and the second shows the user information. On the login screen keep the user_id value in user.defaults and when I go to the second screen I use that value to</td>
      <td>#WIERTS87867809</td>
      <td>30</td>
      <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
    </tr>

    <tr>
        <td>#WIERTS878</td>
        <td>Error print user.default swift 3</td>
        <td>I have three screens the first of login and the second shows the user information. On the login screen keep the user_id value in user.defaults and when I go to the second screen I use that value to</td>
        <td>#WIERTS87867809</td>
        <td>30</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr>

      <tr>
        <td>#WIERTS878</td>
        <td>Error print user.default swift 3</td>
        <td>I have three screens the first of login and the second shows the user information. On the login screen keep the user_id value in user.defaults and when I go to the second screen I use that value to</td>
        <td>#WIERTS87867809</td>
        <td>30</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr>


      <tr>
        <td>#WIERTS878</td>
        <td>Error print user.default swift 3</td>
        <td>I have three screens the first of login and the second shows the user information. On the login screen keep the user_id value in user.defaults and when I go to the second screen I use that value to</td>
        <td>#WIERTS87867809</td>
        <td>30</td>
        <td class="td-btn"><i class="fa-solid fa-trash"></i></td>
      </tr>

  </table>
